<h2>Templates binding</h2>
<p>Text interpolation!</p>
<p>{{name}} is {{age}} years old</p>

{{name ==="Ramon" ? "som" : "asa"}}
<p>{{condition}}</p>
<p>
  <button [disabled]="isDisabled">BTN</button>
</p>

<span>
  <p [class.back-red]="age <= 18">Oi</p>
  <p [style.background]="isGreen">Oi</p>
</span>

<span>
  <button (click)="older()">Ficou mais velho?</button>
  <button (click)="newer()">Ficou mais velho?</button>
  <button (click)="amarelar()">verde?</button>
</span>

<p>
  <input [(ngModel)]="name">
</p>
<p>
  {{name}}
</p>

<!-- diretivas ngclass precisa do CommonModule ou do ngclass importado. ou usa o common, ou importa todos -->
<!-- classes condicionais, dá para usar valores da classe -->
<p [ngClass]="{ 'back-red': true }">oieeeee</p>

<div [ngStyle]="{
  color: age <= 20 ? 'yellow' : 'red'
}">Estilos condicinais</div>