<p>template-control-flow works!</p>
<h3>IF</h3>
<p>&commat;if é da nova versdão</p>
<button (click)="changeCondition()">Toggle condition</button>

@if (mostrarAulas) {
  <p>@if (mostrarAulas) {
    &commat;if (1 === 1)
  } @else {
    &commat;else 1 != 1
  }
  </p>
  <p>na forma antiga vocÊ cria um container e usa *ngIf="" dentro dos atributos da tag. precisa do common module ou o ngif nos imports</p>
  <ng-container *ngIf="mostrarAulas; else negado">
    mostrando a maneira antiga
  </ng-container>
  <ng-template #negado>
    mostrando  else da maneira antiga
  </ng-template>
  
  <h2>Laços</h2>
  
  <p>
    @if (loadingData$ | async; as data) {
    &commat;if (1 === 1)
    <p>
      @for(livro of data; track livro) {
        <li>{{livro}}</li>
      }
    </p>
    } @else {
      <span>Carregando...</span>
    } 
  </p>
}