<app-new-component />
<h2>Primeiro get</h2>
<!-- <p>
  {{getTask$ | async | json}}
</p> -->


@if (getListTask(); as data) { 
<ul>
  <!-- observavle usa async -->
  <!-- @for (item of getTask$ | async; track $index) { -->
  <!-- sgnal não precisa -->
  @for (item of data; track $index) {
  <li>{{ item.id }} - {{ item.title }}</li>
  } @empty {
  <li>sem dados...</li>
  }
</ul>
} @else {
  <p>loading</p>
}

<h3>Get item ID</h3>
@if (getTaskID()) {
  <p>
    {{getTaskID()?.title}}
  </p>
}

<h3>Post create</h3>
<input type="text" name="title" id="titleID" #taskTitle>
<button type="button" (click)="httpTaskCreate(taskTitle.value)">Create</button>
